@media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      width: 100%;
    }
  
    .left-container {
      width: 100%;
      padding: 15px;
    }
  
    .right-container {
      width: 100%;
      margin-left: 0;
      padding: 5px;
    }
  }